*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: black;
    font-family: sans-serif;
}
footer{
    height: 80px;
    width: 100%;
    background-color: rgb(108, 108, 108);
}
main{
    display: flex;
    width: 100%;
    height: calc(100% - 80px)
}
main > nav{
    width: 200px;
    background-color: blueviolet;
    height: 100%;
}
main > section{
    background-color: rgb(95, 68, 49);
    width: calc(100% - 200px);
    height: 100%;
    overflow: auto;
    
}
.flex{display: flex;}
.ta-center{text-align: center;}
.box{
    padding: 1rem;
    height: 100%;
}
.upgrade-container{
    height: 80px;
    width: 100%;
    background-color: rgb(125, 125, 125);
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}
.options{
    width: 80%;
    margin: 0 auto 2rem auto;
    background-color: coral;
    justify-content: space-around;
    font-size: 10px;
}
.options li{
    display: inline;
    text-decoration: none;
    padding: 0 1rem;
}
.album-card img{
    width: 100%;
}
.album-card{
    width: calc(98% / 6);
    padding: 10px 10px 10px 0;
}
.round-card img{
    border-radius: 50%;
    
}
.icons{
    height: 25px;
    margin: 5px 0;
}
.icons img{
   height: 100%;
}
.icon-text{
    font-size: 10px;
}
.plus-square{
    width: 40px;
    height: 40px;
    background-color: rgb(110, 110, 110);
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 1em;
}
.overflow{
    height: 200px;
    overflow-y: scroll;
}
.crea-playlist{
    line-height: 40px;
    vertical-align: middle;
}
.bottom-nav-icon{
    width: 100%;
    height: 30px;
    
}
.bottom-nav-icon img{
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
}
.bottom-nav-section{
    text-align: center;
    min-height: 230px;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-end;
    text-align: left;
}
.profile{
    background: gray;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.navhr{
    margin-bottom: 5px;
}
.p-topbot-1em{
    padding: 1em 0;
}
