*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: black;
    font-family: sans-serif;
    font-weight: 600;
}
footer{
    height: 80px;
    width: 100%;
    background-color: #282828;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
}
main{
    display: flex;
    width: 100%;
    height: calc(100% - 80px)
}
main > nav{
    width: 200px;
    background-color: #000000;
    height: 100%;
}
main > section{
    background-color: #141922;
    width: calc(100% - 200px);
    height: 100%;
    overflow: auto;
    
}
.flex{display: flex;}
.ta-center{text-align: center;}
.box{
    padding: 1rem 1rem 0 1rem;
    height: 100%;
}
.box h3{
    color: white;
    padding-bottom: 0.5em;
    font-size: 25px;
    padding-top: 1em;
}
.box h5{
    color: white;
    padding-bottom: 0.5em;
}
.box h6{
    color: #5A5A5A;
    padding-bottom: 1em;
}
.upgrade-container{
    height: 80px;
    width: 100%;
    background-color: #080B12;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}
.button-upgrade button{
    border: 2px solid white;
    border-radius: 25px;
    text-decoration: none;
    padding: 1em 2em;
    background-color: #080B12;
    color: white;
    cursor: pointer;

}
.options{
    width: 80%;
    margin: 0 auto 2rem auto;
    color: #5A5A5A;
    justify-content: space-around;
    font-size: 10px;
}
.options li{
    display: inline;
    text-decoration: none;
    padding: 0 1rem;
}
.album-card img{
    width: 100%;
    padding-bottom: 0.5em;
    
}
.mask{
    width: calc(98% / 6);
    
}

.album-card{
    width: calc(98% / 6);
    padding: 10px 10px 10px 0;
    

    
    
}
.round-card img{
    border-radius: 50%;
    
}
.logobig{
    margin-bottom: 1em;
}
.logobig img{
    height: 40px;
}
.logosmall{
    display: none;
}
.icons{
    height: 20px;
    margin: 5px 0;
    align-items: center;
}
.icons img{
   height: 100%;
}
.icon-text{
    font-size: 10px;
    color: #6C6C6C;
}
.icon-text img{
    filter: invert(41%) sepia(8%) saturate(24%) hue-rotate(353deg) brightness(99%) contrast(87%);
}
.plus-square{
    width: 40px;
    height: 40px;
    background-color: rgb(110, 110, 110);
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 0.5em;
    
}
.square-span{
    color: #6C6C6C;
}
.squareplus{
    align-items: center;
    margin-bottom: 1em;

}
.overflow{
    height: 200px;
    overflow: auto;
    font-size: 14px;
}
.overflow p{
    padding-bottom: 0.5em;
}
.crea-playlist{
    line-height: 40px;
    vertical-align: middle;
}
.bottom-nav-icon{
    width: 100%;
    height: 30px;
    
}
.bottom-nav-icon img{
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
}
.bottom-nav-section{
    text-align: center;
    min-height: 130px;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-end;
    text-align: left;
}
.topnav-section{
    height: calc(100% - 130px);
}
.profile{
    background: gray;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.navhr{
    margin-bottom: 5px;
}
.p-topbot-1em{
    padding: 1em 0;
}
/* utilities */

.gray{color: #6C6C6C;}
.white{color: white;}

.px10{font-size: 10px;}
.px12{font-size: 12px;}
.px14{font-size: 14px;}
.px16{font-size: 16px;}
.px18{font-size: 18px;}
.px20{font-size: 20px;}
.px30{font-size: 30px;}




/* /utilities */


.right-footer-sec{
    height: 100%;
    width: 30%;
}
.right-ft-container img{
    height: 80%;
    margin-right: 0.5em;

}
.right-ft-container{
    align-items: center;
    height: 100%;
    align-content: center;
    width: 30%;

}
.right-ft-container h6{
    color: white;
}
.right-ft-container i{
    margin: 0 0.5em;
    color: #828282;
    font-size: 12px;
    margin: 0 0.5em;
    justify-self: center;
    align-self: center;
    flex-wrap: wrap;
}
.ft-songName{
    color: #5A5A5A;
}
.ft-album-capture{
    padding-right: 1em;
}
.central-footer-sec{
    height: 100%;
    margin: 0 0.5em;
    width: 30%;
}
.central-ft-containerUp{
    height: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
}
.central-ft-containerUp i{
    margin: 0 0.5em;
}
.central-ft-containerDown{
    height: 50%;
    margin: auto;
    align-items: center;
    color: white;
    justify-content: center;
    width: 100%;
    
}
.minute{
    font-size: 10px;
}
.audio-string{
    width: 80%;
    height: 5px;
    background-color: #5A5A5A;
    border-radius: 15px;
    position: relative;
    margin: 0 1em;
}
.point{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #C1C1C1;
    position: absolute;
    left: 29%;
    top: -3px;
    display: none;
}
.point2{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #C1C1C1;
    position: absolute;
    left: 19%;
    top: -3px;
    display: none;
}
.ward-string{
    height: 5px;
    width: 30%;
    background-color: #C1C1C1;
    border-radius: 10px;
    position: absolute;
    left: 0;
    
}
.left-footer-sec{
    width: 30%;
    height: 100%;
    font-size: 12px;
    
}
.left-ft-container{
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    color: white;
}
.left-ft-container i{
    margin: 0 0.5em;
}
.audio-string2{
    width: 30%;
    height: 5px;
    background-color: #5A5A5A;
    border-radius: 15px;
    position: relative;

}
.ward-string2{
    height: 5px;
    width: 20%;
    background-color: #C1C1C1;
    border-radius: 10px;
    position: absolute;
    left: 0;
}

@media screen and (min-width: 370px) and (max-width: 820px){
    main > nav{
        width: 50px;
    }
    main > section{
        width: calc(100% - 50px);
        flex-wrap: wrap;
    }
   
    .topnav-section h5{
        display: none;
    }
    .bottom-nav-section span{
        display: none;
    }
    hr{
        display: none;
    }
    .options{
        width: 100%;
        flex-flow: row wrap;
        
    }
    
    
    .options li{
        font-size: 8px;
        padding: 0 5px;
        
    }
    
    
    .logosmall{
        display: block;
        width: 100%;
        padding-bottom: 1em;
    }
    .squareplus{
        display: none;
    }
    .overflow{
        display: none;
    }
    .icons span{
        display: none;
    }
    .logobig{
        display: none;
    }
   .mainbox{
    flex-wrap: wrap;
   }
   .album-card{
    width: calc(98% / 2);
   }
   .album1row{
    flex-wrap: wrap;
   }
   .right-footer-sec h6{
    font-size: 8px;
   }
   .right-footer-sec p{
    font-size: 8px ;
   }
    .central-footer-sec i{
    font-size: 12px;
    margin: 0 5px;
   }
   .central-footer-sec p{
    font-size: 8px;
   }
   .audio-string{
    margin: 0 5px;
   }
   .central-footer-sec .fa-circle-play{
    font-size: 30px;
   }
   .ft-album-capture{
    padding: 0;
   }
   .left-footer-sec i{
    font-size: 12px;
    margin: 0 5px;
   }
}
@media screen and (min-width: 820px) and (max-width: 1160px){
    .album-card{
        width: calc(98% / 4);
    }
    .album1row{
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 1160px) {
    .audio-string:hover > .point{
        display: block;
        cursor: pointer;
    }
    .audio-string2:hover > .point2{
        display: block;
        cursor: pointer;
    }
    .squareplus:hover .square-span{
        color: white;
        cursor: pointer;
    }
    .squareplus:hover .fa-plus{
        color: white;
        cursor: pointer;
    }
    .newplay:hover{
        color: white;
        cursor: pointer;
    }
    .icon-text:hover{
        color: white;
        cursor: pointer;
    }
    .button-upgrade button:hover{
        transform: scale(1.1);
        border: 2px solid #20D762;
        color: #20D762;
    }
    .central-footer-sec i:hover{
        transform: scale(1.4);
        cursor: pointer;
    }
    .left-footer-sec i:hover{
        cursor: pointer;
        transform: scale(1.4)
        

        
    }
    .right-footer-sec i:hover{
        cursor: pointer;
        transform: scale(1.4)
        
    }
    li:hover{
        color: white;
        cursor: pointer;
    }
    .album-card:hover{
        transform: scale(1.1);
    }
}